@charset "utf-8";
.inner {
    max-width: 1140px;
    margin: 0 auto;
}

/* 바디크기는 1440px */

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 1440px;
    height: 70px;
    border-bottom: 0.4px solid #fff;
}

#header .top {
    position: relative;
}

#header h1 {
    position: absolute;
    top: 0px;
    left: 30px;
    width:180px;
    /* border:1px solid salmon; */
    margin: 12px 0;
}

#header h1 img {
    vertical-align: middle;
}

#header #nav {
    position: absolute;
    top: 0px;
    left:50%;
    margin-left: -370px ;
}

#header #nav .depth1 li {
    float: left;
    padding: 0 30px;
    letter-spacing: 2px;
    line-height: 70px;
    font-size: 16px;
    color: #fff;
}

#header .membership {
    position: absolute;
    top: 0;
    right: 40px;
}

#header .membership a {
    color: #fff;
    letter-spacing: 2px;
    line-height: 70px;
    font-size: 14px;
    display: inline-block;
    letter-spacing: -1px;
}

#header .membership a:first-child {
    padding-right: 10px;
}
